.deviceVisualizer {
    /*display: flex;*/
}

.costRelatedVisuals {
    display: flex;
    background-color: lightgreen;
    padding-top: 100px;

}

.deviceRelatedVisuals {
    display: flex;
    background-color: lightgrey;
    padding-top: 100px;
}


.energyUsageAreaChart {
    padding-right: 50px;
}

.topDevicesEnergyUsageBarChart {
    padding-right: 50px;
}

.energyUsageProgressionHalfDonutChart {
    padding-right: 50px;
}

.energyUsageCategoryPieChart {
    padding-right: 50px;
}