.deviceVisualizer {
    /*display: flex;*/
}

.topRelatedVisuals {
    display: flex;
    padding-top: 20px;

}

.topMiddleRelatedVisuals {
    display: flex;
}

.bottomMiddleRelatedVisuals {
    display: flex;
}

.bottomRelatedVisuals {
    display: flex;
}

.deviceRelatedVisuals {
    display: flex;
    /*background-color: lightgrey;*/
    padding-top: 100px;
}


.energyUsageLineChart {
    padding-right: 50px;
}

.topDevicesEnergyUsageBarChart {
    padding-right: 50px;
}

.energyUsageProgressionGauge {
    padding-right: 50px;
}

.energyUsageCategoryPieChart {
    padding-right: 50px;
}