#Heading {
    display: flex;
    justify-content: center;

}

#addDeviceButton {
    float: right;
    width: 200px;
    height: 100px;
}

.device-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.device-card {
    padding: 10px;
    text-align: center;
    background-color: white;
}

.styleBoxModal {
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1000px;
    height: 500px;

    background-color: lightblue;
}

.modalContent {
    display: flex;

    align-items: center;

    flex-direction: column;
}

.modalHeader {

    font-size: 20px;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.modalDeviceNameInput {
    padding-top: 10px;
}


.modalDeviceTypeLabel {
    padding-top: 10px;
}

.modalDeviceTypeInput {
    padding-top: 10px;
}