.Title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.getStartedButton {
    display: flex;
    justify-content: center;
}

.Feature {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates 3 columns */
    grid-template-rows: repeat(2, auto);  /* Creates 2 rows with height based on content */
    gap: 16px; /* Adds spacing between grid items */
}
