.Title {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.getStartedButton {
    display: flex;
    justify-content: center;
}

.featureSets {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
}

.featureTitle {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.forestLoopGif {
    display: flex;
    justify-content: center;
    align-items: center;
}
